*, *::before, *::after { box-sizing: border-box; }
html, body { margin: 0; padding: 0; height: 100%; }
body { background: #0d0d0f; }/* You can add global styles to this file, and also import other style files */
